@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html,
body,
#root {
    margin: 0;
    padding: 0;
    /* Add padding: 0 to body and html */
    height: 100%;
    /* Ensure html, body, and #root take full height */
    overflow: hidden;
    /* Prevent scrolling on the entire page */
}

.app-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* Stack map and bottom bar vertically */
    height: 100dvh;
    /* Use 100dvh for full viewport height */
    width: 100vw;
    /* Ensure full viewport width */
}



/* Map Component Styling */
.map-container {
    flex-grow: 1;
    /* Allows the map container to take up all available space */
    /* No fixed height needed here, flex-grow handles it */
}

.function-box {
    background-color: hsl(228, 33%, 97%);
    width: 90%;
    flex-shrink: 0;
    /* Ensures it doesn't shrink when map grows */
    border: none;
    border-radius: 20px;
    position: fixed;
    bottom: 115px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    box-shadow: 0px 4px 4px #00000030;
    opacity: 1;
    transition: bottom 0.35s ease;
    font-family: 'Quicksand';
    font-weight: 500;
}

/* Bottom Bar Styling */
.bottom-bar {
    background-color: hsl(228, 33%, 97%);
    display: flex;
    justify-content: space-evenly;
    /* Distributes buttons evenly */
    align-items: center;
    /* Centers buttons vertically */
    height: 75px;
    /* Fixed height for the bottom bar */
    width: 90%;
    flex-shrink: 0;
    /* Ensures it doesn't shrink when map grows */
    padding: 2px;
    border: none;
    border-radius: 20px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    box-shadow: 0px 4px 4px #00000030;
}

.bottom-bar-buttons {
    background-color: hsl(228, 33%, 97%);
    border: none;
    display: flex;
    flex-direction: column;
    width: 65px;
    height: 58px;
    cursor: pointer;
    font-family: 'Quicksand';
    font-size: 13px;
    font-weight: 500;
    color: hsl(0, 0%, 20%);
}

.active {
    font-weight: 600;
    font-size: 14px;
    color: hsl(0, 0%, 10%);
}

.bottom-bar-buttons>img {
    object-fit: contain;
    margin: 5px 0px;
    opacity: 0.95;
}

.function-box {
    font-size: 16px;
}

.fare-element-container {
    color: hsl(0, 0%, 10%);
    margin: 0;
    padding: 0px 20px 0px 35px;
    line-height: 24px;
}

.fare-list {
    padding: 0;
    width: 100%;
}

.fare-items>div {
    margin: 4px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-span {
    font-weight: 600;
}

.schedule-container {
    padding: 15px;
    text-align: center;
    line-height: 24px;
    color: hsl(0, 0%, 10%);
}

.schedule-container>span {
    font-weight: 700;
}

br {
    margin: 0px 0px 2px 0px;
}

.route-container {
    margin: 15px;
    font-size: 16px;
    color: hsl(0, 0%, 10%);
    max-height: 260px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.route-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 2.5%;
    cursor: pointer;
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: hsl(228, 33%, 97%);
    z-index: 4;
    height: 26px;
}

.route-title {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.route-content {
    width: 95%;
    margin: 0 2.5%;
    margin-top: 15px;
    cursor: default;
}

.route-desc {
    font-size: 14px;
}

.route-stop-container {
    display: flex;
    flex-direction: row;
}

.route-progress-container {
    width: 15%;
    position: relative;
    display: flex;
    justify-content: center;
}

.route-progress-stop-icon-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.route-progress-stop-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

.route-progress-stop-icon>div {
    height: 14px;
    width: 14px;
    border: solid hsl(0, 0%, 55%) 1px;
    background-color: white;
    border-radius: 50%;
    margin-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.route-progress-stop-icon>div>div {
    width: 6px;
    height: 6px;
    border: solid hsl(0, 0%, 55%) 1px;
    border-radius: 50%;
}

.route-progress-bar-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    z-index: 3;
}

.bus-progress {
    position: relative;
    justify-content: center;
    width: 16px;
    height: 100%;
}

.bus-marker>img {
    height: 10px;
    width: 10px;
    object-fit: contain;
}

.route-stopname-container {
    width: 85%;
}

.route-stopnames {
    margin: 25px 0;
}

hr {
    height: 1px;
    margin: 6px 0;
    border: none;
    background-color: hsl(0, 0%, 75%);
}

.legend-container {
    margin: 15px;
    height: 230px;
    overflow-y: auto;
}

.legend-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    margin: 0 10px;
}

.regular-stop-icon {
    height: 16px;
    width: 16px;
    border: solid 1px hsl(0, 0%, 75%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regular-stop-icon>div {
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;
}

.transfer-stop-icon {
    height: 16px;
    width: 16px;
    border: solid 1px hsl(0, 0%, 0%);
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transfer-stop-icon>div {
    height: 12px;
    width: 12px;
    background-color: rgb(100%, 100%, 100%);
    border-radius: 50%;
}

.bus-station-icon {
    border-radius: 50%;
    background-color: white;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.bus-station-icon>img {
    height: 12px;
    width: 12px;
    object-fit: contain;
}

.legend-bus-icon-container {
    border: solid 1px hsl(0, 0%, 75%);
    border-radius: 50% 0 50% 50%;
    rotate: 45deg;
}

.legend-bus-icon {
    border-radius: 0 50% 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    transform: rotate(90deg);
}

.legend-bus-icon>img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    position: absolute;
    transform: rotate(-135deg)
}

.legend-route-name-container {
    display: flex;
}

.line-name {
    width: 110px
}

.legend-route-icon {
    height: 4px;
    width: 35px;
}

.leaflet-popup-content {
    font-family: 'Quicksand';
    font-weight: 500;
    margin: 10px;
    color: hsl(0, 0%, 10%);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: hsl(228, 33%, 97%);
}

.leaflet-popup-content-wrapper {
    padding: 1px;
}

.bus-marker-popup-name {
    margin: 0 0 5px 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.leaflet-control-zoom.leaflet-bar {
    box-shadow: 0px 4px 4px #00000030 !important;
    border: none !important;
}

/* Target all buttons within the zoom control */
.leaflet-control-zoom a {
    color: hsl(0, 0%, 10%);
    /* Change the text/icon color to white */
    background-color: hsl(228, 33%, 97%);
    /* Change the background color */
    /* Add a darker separator */

}

/* Target the zoom-in button specifically */
.leaflet-control-zoom-in {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* You can override other styles here */
    border: none;

}

/* Target the zoom-out button specifically */
.leaflet-control-zoom-out {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* You can override other styles here */
    border: none;

}

/* Change style on hover */
.leaflet-control-zoom a:hover {
    background-color: #0093d9;
}