.header {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;

    font-family: Arial;
    font-weight: bold;
    color: white;

    height: 65px;
    justify-content: space-between;
    padding: 0px 10px ;
    align-items: center;
}

input {
    border-radius: 15px;
    border: none;
    width: 500px;
    height: 30px;
    padding-left: 20px;
}

button {
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 3px;

    color: white;
    font-family: arial;
    font-size: 14px;
    font-weight: 600;

    padding: 10px 20px;
    background-color: blueviolet;
}