.flexbox {
    display: flex;
    height: 50px;
}

.pinkbox {
    width: 100px;
    background-color: pink;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bluebox {
    width: 200px;
    background-color: lightblue;
}

.textbox {
    color: white;
    background-color: black;
}