.flexbox {
    display: flex;
    height: 50px;
}

.pinkbox {
    width: 100px;
    background-color: pink;
}

.bluebox {
    width: 200px;
    background-color: lightblue;
}

.rowbox {
    display: flex;
    justify-content: space-between;
}

.textbox {
    color: white;
    background-color: black;
}