p {
    font-family: "Source Sans 3", serif;
    font-size: 20px;
    color: rgb(100, 100, 100);
    margin: 0;
}
.Email_text {
    margin: 10px 0px;
}

.Email_bar {
    width: 435px;
    padding: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    border-radius: 5px;
}

.Policy {
    margin: 20px 0px;
}

button {
    font-size: 25px;
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(10, 102, 194);
    width: 465px;
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
}