input {
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
}

.F_name {
    width: 148px;
}

.L_name {
    width: 148px;
}

.Email {
    display: block;
    width: 300px;
    margin: 10px 0px;
}

button {
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    color: white;

    border: none;
    background-color: rgba(31, 99, 245, 0.774);
    padding: 15px 0px;
    border-radius: 8px;
    width: 312px;

    cursor: pointer;
}