.add-friend {
    display: inline-block;
    width: 250px;
    box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.603);
    margin:10px 10px;
}

.Info {
    pad: 0px;
    padding-left: 10px;
    padding-bottom: 13px;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: left;
}

p {
    font-family: arial;
    font-size: 20px;
    margin: 0px;
}

.name {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.mutual {
    color: gray;
    margin-bottom: 15px;
}

button {
    font-size: 20px;
    padding: 10px 25px;
    background-color: rgb(26, 112, 241);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}